/*brand styles*/

.sidebar {
    min-height: 100vh;
    width: 13%;
    overflow-x: hidden;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.12);
    transition: width 0.3s ease;

    &.closed {
        width: 3%;
    }
}

.top-row {
    display: grid;
    grid-template-columns: 1fr 0fr;
    justify-content: center;
    align-content: center;
    padding: 1rem 0.5rem 1rem 0.5rem;
    transition: grid-template-columns 0.3s ease;

    &:hover {
        grid-template-columns: 5fr 1fr;
    }

    &:hover > .closebtn {
        opacity: 1;
        visibility: visible;
    }

    &.closed {
        grid-template-columns: 0fr 1fr;
    }
}

.navbar-brand {
    align-self: center;
    justify-self: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #008000;
    opacity: 1;
    visibility: visible;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.closed {
        opacity: 0;
        visibility: hidden;
    }
}

.closebtn, .openbtn {
    font-size: 1.3rem;
    cursor: pointer;
    color: #6A6B7A;
    justify-self: center;

    &:hover {
        color: black;
    }
}

.closebtn {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/*links styles*/

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.25rem 0.5rem 0.25rem;

    &:first-of-type {
        padding-top: 1rem;
    }

    &:last-of-type {
        padding-bottom: 1rem;
    }
}

.nav-item ::deep .nav-link {
    height: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    text-decoration: none;
    color: #6A6B7A;
    border-radius: 8px;
    transition: grid-template-columns 0.3s ease;
}

.nav-item ::deep .nav-link:hover,
.nav-item ::deep .nav-link.active {
    background-color: #008000;
    color: white;
}

.nav-item ::deep .nav-link.closed {
    grid-template-columns: 1fr 0fr;
}

.nav-link i {
    font-size: 1.2rem;
    color: #6A6B7A;
    justify-self: center;
}

.nav-link:hover i,
.nav-link.active i {
    color: white;
}

.nav-link-text {
    opacity: 1;
    visibility: visible;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-link.closed .nav-link-text {
    opacity: 0;
    visibility: hidden;
}